.footer {
  background-color: white;
  color: black;
  padding: 20px;
  text-align: center;
}

.footer-content {
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.5;
}

h2 {
  margin-bottom: 10px;
}

p {
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

li {
  margin-right: 20px;
}
